* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.box {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: green;
  /*
  animation-name: animacao_1;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  */
}

div.box:hover {
  animation: animacao_1 2s infinite;
  animation-delay: 2s;
}

@keyframes animacao_1 {
  0% {
    left: 0;
    background-color: green;
  }

  25% {
    left: 100px;
    background-color: orange;
  }

  100% {
    left: 0;
    background-color: red;
  }
}